#multifrutas {
    height:  100px;
    width: 100px;
}

/*#lista {
     list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap; 
    align-content: center;
    width: 65vw;

    
}
*/


  
  li {
    margin: 10px;
  }

  #filtroTempLabel {
    color: red;

  }
  

  #Tempotext {
    color: red;
    padding-bottom: 10px;
  }

  #explan {
    /*border: 1px solid #ccc;*/
    float: right;
    margin-right: 175px;
  }

.line1,
.line2,
.line3 {
  display: block;
  word-wrap: break-word;
  white-space: pre-line;
  color: black
}

.busqueda {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: red;
}


#placeholder {
  float: center;
  display: block;
}

#videoloop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 35vh; 
  
}

#videoloop video {
  width: 100%;
  height: 100%; 
  object-fit: cover;
}

#top1 {
  position: relative;
  overflow: hidden;
 
}
