
:root{
  background-image: url('/src/assets/Hojas.png');
    
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}


body {
  width: 100vw;
  max-height: max-content;
  min-height: 100vh;
  flex-shrink: 0;
  border-radius: 200px 200px 0px 0px;
  background-color: linear-gradient(180deg, #FFF 0%, #a9ffa6 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-block;
  z-index: 1;
}

